{% extends "todo/main.html" %}
{% load crispy_forms_tags %}
{% block content %}



	 <div class="container mb-4 " style="margin-top: 100px;  width:100%; " >
	    <div class="card center" >
	      <div class="card-body shadow ">
	          <div class="content-section border-bottom m-5">
				<h1 style="text-transform: capitalize; font-weight: lighter; font-size: 15px;">Enter Person Name  <br>
				</h1>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					
				    {{ form| crispy }}
				    <button class="btn btn-primary" type="submit"> Create Wallet </button>
				</form>
				<br>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}