{% extends "todo/main.html" %}
{% block content %}
<main id="main">


<div class="container" style="margin-top: 70px; width: 100%;">
	<h3> </h3>
	<h4> Wanna Delete {{object.person_name}}  ? </h4>
	<div class="row">
		
		<div class="card" style=" width: 100% , margin:auto;">

		  <div class="card-body">
		    <h5 class="card-title">Delete {{object.person_name}} Wallet</h5>
		    <span class="badge badge-primary" style="font-weight: bold;">{{object.author}}</span>
		    <span class="card-title">Published on  {{object.published | date}}</span>
		    <form method="post">
					{% csrf_token %}
				    <p class="card-text"><b>Are you sure you want to delete ?</b></p>
				    <button class="btn btn-danger m-1" type="submit" value="Confirm" > Yes, Delete </button>
				    
				</form>
				<a href="{% url 'wallet-list' %}" class="m-1"><button class="btn btn-primary" > Cancel </button></a>
		  </div>
		</div>
		
	</div>
</div>

</main>
{% endblock content %}

